<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polls app</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css'%}">
</head>
<body>
<h1 id="top_h1">Questions: <small>(Click on the question to vote)</small></h1><hr>
     {% if latest_question_list %}
     <ul>
         {%for question in latest_question_list %}
         <li><a href="{%url 'polls:detail' question.id %}">{{question.question_text}}</a></li>
         {% endfor %}
     </ul>
     {% else %}
     <p>No polls available</p>
     {%endif%}
</body>
</html>