body{
    background: tomato;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

li a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

li a:hover {
    color: black;
}

#top_h1 {
    font-size: 50px;
    margin-left: 40px;
}

hr {
    border: 3px solid black;
}
